.comments {
  margin: 1em auto;

  .buttonContainer {
    width: 100%;

    & > button {
      width: 5em;
      height: 2em;
      display: inline;
    }
  }
}

.loader {
  display: flex;
  height: calc(100vh - 127px);
  width: 100%;
  align-items: center;
  justify-content: center;
}

