.root {
  width: 100%;
  height: calc(100vh - 60px);
  padding-bottom: 60px;

  a {
    text-decoration: none;
    color: #DC143C;

    &:hover {
      color: #0c5c62;
    }
  }

  .body {
    display: flex;
    height: calc(100vh - 60px);
    flex-direction: column;
    justify-content: space-between;

    .content {
      padding-top: 0.5em;
      margin-bottom: 1.5em;
    }

    .footer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
    }
  }
}
